// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #444458
$secondary : #17173d
$accent    : #22228a
$dark      : #101017
$positive  : #50dd7b
$negative  : #b21a2c
$info      : #bebec2
$warning   : #fff9b2


// Custom variables

$color-busy-1 : #50DD7B
$color-busy-2 : #96ED50
$color-busy-3 : #FCDB50
$color-busy-4 : #F4A740
$color-busy-5 : #DA142C
